.nav-footer {
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
  position: relative;
  height: 8vh;
  width: 100%;
  bottom: 0px;
  word-spacing: -12px;
}

.menu-icon {
  fill: whitesmoke !important;
}

.drawer-icon {
  fill: whitesmoke !important;
}

.drawer-text {
  color: whitesmoke !important;
}

.MuiListItemText-primary {
  color: whitesmoke !important;
}

.user-name {
  color: whitesmoke !important;
}

.nav-container {
  background-color: #232023;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("../assets/logo.png");
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
  height: 65px;
  width: 65px;
}

.MuiDrawer-paperAnchorBottom {
  background-color: #232023 !important;
}

.MuiTypography-body1 {
  font-family: "Roboto Mono", monospace !important;
}
