.home-div {
  display: flex;
  justify-content: center;
}

.landing-text {
  font-family: "Roboto Mono", monospace;
  background-color: #1d1d1d;
  color: orange;
  margin-top: 100px;
  position: fixed;
  width: 70vw;
  padding: 20px;
  outline: 3px solid black;
}

.landing-text h2 {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 1.25em;
  background-color: rgb(46, 39, 26);
  text-shadow: 0px 0px 100px rgb(255, 212, 133);
}
