.loginpage {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.login-text {
  margin: 100px 50px 0 25px;
  position: relative;
}

.login-header {
  font-size: 24px;
}

.register-header {
  font-size: 14px;
}

.register-link {
  font-size: 14px;
}

.login-form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
