.loginpage {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.login-text {
	margin: 250px 50px 0 25px;
    padding: 10px 10px;
	position: relative;
    background-color: rgba(255,255,255, 0.6);
}

.login-header {
  font-size: 24px;
}

.register-header {
  font-size: 14px;
}

.register-link {
  font-size: 14px;
}

.form-background {
    background-color: rgba(255,255,255, 0.7);
    margin-top: 250px;
    height: 150px;
}

.login-form {
    margin: 5px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
