.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.register-header {
  font-size: 26px;
  font-weight: 400;
  align-self: flex-start;
  margin: 75px 0px 20px 10vw;
}

.register-link {
  font-size: 14px;
}

.register-form {
  margin-top: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  width: 80vw;
  max-width: 400px;
}

.register-form input {
  background-color: #96b4b660;
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: none;
  height: 30px;
  margin: 30px 0px 0px 0px;
  border-radius: 100px;
  padding-left: 15px;
}

.register-form input::-webkit-input-placeholder {
  color: #121212;
}

.name-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-inputs input {
  width: 33vw;
}

.account-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sign-up-button {
  background-color: #121212;
  color: white;
  border: none;
  outline: 0;
  height: 40px;
  width: 60vw;
  max-width: 350px;
  border-radius: 100px;
  margin: 50px 0px 50px 0px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #12121280;
}

.sign-up-button:hover {
  background-color: #fe5d2a;
}

.sign-up-button:active {
  background-color: #fe5d2a;
  box-shadow: 0px 2px 5px #12121280;
  transform: translateY(3px);
}

.login-user a {
  text-decoration: none;
  color: #fe5d2a;
}
