.registerpage {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.register-text {
  margin: 100px 50px 0 25px;
}

.login-header {
  font-size: 24px;
}

.register-header {
  font-size: 14px;
}

.register-link {
  font-size: 14px;
}

.register-form {
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    background-color: rgba(255,255,255, 0.7);
}
